@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

}

*::-webkit-scrollbar {
  display: none;

}

body {
  background: radial-gradient(#000000, #000010);
  color: white;
}


.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.custom-file-upload img {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: cover;
}

#fileInput {
  display: none;
}



@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .no-scroll-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

}


div::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(148 163 184);
  -webkit-text-size-adjust: 1rem;
  ;
}
